<input type="checkbox" id="search-toggle">
    <div class="search">
        <div class="wrapper">
                <a href="/" ><i class="fas fa-search"></i></a>
                <input type="text" />
                <span class="actions"></span>
        </div>
    </div>
    <header>

        <div class="wrapper">
            <div class="site-title">
                <a href="/">Momentous</a>
                <p class="title-description">Just another ThemeZee Theme Preview site</p>
            </div>

    
            <nav class="main">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Theme Features</a></li>
                    <li><a href="">WordPress Features</a></li>
                    <li><a href="">Innovation</a></li>
                    <li><a href="">Engineering</a></li>
                    <li><a href=""><label for="search-toggle" id="toggle"><i class="fas fa-search"></i></label></a></li>
                </ul>
            </nav>
        </div>

    </header>