<main>
        <div class="wrapper">
            <section>

                <article class="main">
                    <div class="media-content">
                        <img width="900px" height="300px" src="/images/keyboard-338502_1280-900x300.jpg" alt="img here">
                    </div>
                    <div class="content">
                        <header>
                            <h2>Featured Content</h2>
                        </header>
                        <p class="posted-on">Posted on <a href="/">April 1, 2014</a> by <a href="">Thomas</a></p>
                        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium eum ut incidunt placeat pariatur aut, veritatis voluptates explicabo iste. Nemo dolores magnam amet maxime, pariatur suscipit nihil culpa omnis expedita?</p>
                        <a class="button" href="">Continue reading</a>
                    </div>
                    <footer>
                        <p class="category"><i class="fas fa-folder-open"></i><a href="">Theme Features</a></p>
                        <p class="comments"><a href=""><i class="fas fa-comments"></i>0</a></p>
                    </footer>
                </article>

                <div class="content-right">
                        <article class="secondary">
                                <div class="media-content">
                                    <img width="900px" height="300px" src="/images/keyboard-338502_1280-900x300.jpg" alt="img here">
                                </div>
                                <div class="content">
                                    <header>
                                        <h2>Featured Content</h2>
                                    </header>
                                    <p class="posted-on">Posted on <a href="/">April 1, 2014</a> by <a href="">Thomas</a></p>
                                </div>
                        </article>
                        <article class="secondary">
                                <div class="media-content">
                                    <img width="900px" height="300px" src="/images/keyboard-338502_1280-900x300.jpg" alt="img here">
                                </div>
                                <div class="content">
                                    <header>
                                        <h2>Featured Content</h2>
                                    </header>
                                    <p class="posted-on">Posted on <a href="/">April 1, 2014</a> by <a href="">Thomas</a></p>
                                </div>
                        </article>
                </div>

            </section>
        </div>
    </main>
