.site-header {

    .site-branding {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.6) 100%);
        top: 0; left: 0; right: 0;
    }

    .site-title {
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
        padding: 1.5rem 0;
    }

    .site-title > h2 {
        margin: 0;
        padding: 1rem;
        border-bottom: 1px solid grey;
    }
}

