.button {
    display: block;
    padding: 0.7rem 1rem 0.7rem 1rem;
    background: #22a8d8;
    color: white;
    text-decoration: none;
    max-width: 10em;
    outline: none;
    border: none;
}

.button:hover {
    background: #333;;
}