---
layout: site
title: Featured Image Header
permalink: /featured/image-header/
---

{% include header.html %}
{% include navigation.html%}

<main>
    <div class="wrapper">
        <header>
            <img src="/images/almond-blossom-5378_1920-1300x240.jpg" alt="">
        </header>
        <div class="wrap">
            <section class="left">
                <article class="content-left">
                    <h2>Featured Image Header</h2>
                    <p>Featured Images can be used as custom header image on static pages.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Image Source: <a href="http://abv.com">someurl/here/that/can/be/accessed</a></p>
                </article>
                <article class="content-left">
                    <header>
                        <h4>LEAVE A REPLY</h4>
                    </header>
                    <form action="POST">
                            <p class="form-message">Your email address will not be published. Required fields are marked *</p>
                        <label for="comment">Comment</label>
                        <textarea id="comment" rows="10"></textarea>
                        <label for="name">Name *</label>
                        <input type="text" id="name" />
                        <label for="email">Email *</label>
                        <input type="text" id="name" />
                        <label for="website">Website</label>
                        <input type="text" id="website" />
                        <input class="button" type="submit" value="Post Comment">
                    </form>
                    
                </article>
            </section>

            <section class="right">
                    <article class="secondary">
                      <header>
                          <h4>TABBED CONTENT</h4>
                      </header>
                      <div class="content">
                          <ul class="categories">
                              <li><a class="button" href="/">Archives</a></li>
                              <li><a class="button" href="/">Categories</a></li>
                              <li><a class="button" href="/">Pages</a></li>
                              <li><a class="button" href="/">Tags</a></li>
                          </ul>
                          <ul class="dates">
                            <li><a href="/">April 2014</a></li>
                            <li><a href="/">March 2014</a></li>
                            <li><a href="/">February 2014</a></li>
                            <li><a href="/">January 2014</a></li>
                            <li><a href="/">September 2014</a></li>
                            <li><a href="/">March 2014</a></li>
                        </ul>
                      </div>
                      </article>
            </section>
        </div>

    </div>
</main>

{{ page.title }}